div {
  display: grid;
  grid-template: repeat(4, 150px) / repeat(6, 1fr);
  gap: 7px;
  grid-auto-rows: 150px;
}

p {
  text-align: center;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.452);
  border-radius: 5px;
  background-color: gray;
}
