body {
  background-color: rgb(93, 116, 243);
  font: normal 15pt arial;
}

header {
  color: white;
  text-align: center;
}

section {
  background-color: white;
  border-radius: 10px;
  padding: 15px;
  width: 500px;
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.284) 3px 3px 10px;
}
.container {
  margin-bottom: 15px;
}

select {
  width: 160px;
  margin-bottom: 10px;
}

#res2 {
  padding-top: 10px;
}

footer {
  text-align: center;
  color: white;
  font-style: italic;
}
