body {
  background-color: rgb(93, 116, 243);
  font: normal 15pt arial;
}

header {
  color: white;
  text-align: center;
}

section {
  display: flex;
  flex-flow: nowrap column;
  gap: 9px;
  background-color: white;
  border-radius: 10px;
  padding: 15px;
  width: 500px;
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.284) 3px 3px 10px;
}

div.container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.container label {
  width: 70px;
  text-align: right;
  margin-right: 10px;
}

input.num {
  width: 300px;
}

input#btn {
  margin-top: 5px;
  align-self: center;
  width: 70px;
}

footer {
  text-align: center;
  color: white;
  font-style: italic;
}
